
 <html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
  <body>
      
    <title > Démonstration de streaming vidéo </title>
    <center>
    <h1 class="bg-info"> Démonstration de streaming vidéo </h1>
    <img id = "bg" src = "{{url_for ('video_feed')}}">
    </center>  
</body>
</html>